body {
  font-family: "Montserrat";
}
#title {
  background-color: #ff4c68;
  
}
h1 {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  color: beige;
}
h2 {
  font-size: 3rem;
  line-height: 1.5;
}
h3 {
  font-size: 1.5rem;
 
}
.container-fluid {
    padding: 3% 15% 7%;
}
.rotate {
    transform: rotate(30deg);
    width: 20%;
    position: absolute;
    right: 25%;
}
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2rem;
}
.download-button {
  margin: 5% 3% 5% 0;
}
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.feature-box {
  text-align: center;
  padding: 5%;
}
p {
  color: #8f8f8f;
  font-weight: light;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #ff4c68;
}
#testimonials {
  
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.carousel-item {
  padding: 7% 15%;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
#pricing {
  padding: 100px;
  margin: 7% 15%;
  text-align: center;
}
.pricing-column {
  padding: 3% 2%;
}
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .rotate {
    position: static;
    transform: rotate(0);
  }
}
#cta {
  background-color: #ff4c68;
  padding: 3% 15% 7%;
  text-align: center;
}
.cta-title {
  color: #fff;
  line-height: 1.5;
  padding-bottom: 3%;
  font-size: 3rem;
}
#footer {
  background-color: #fff;
  text-align: center;
  padding: 3% 15% 7%;
}